@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --font-display: 'Inter', sans-serif;
    --color-background-light: #f9fafb;
    --color-background-dark: #1f2937;
    --color-primary: #2563eb;
}

:root.dark {
    --color-background-light: #111827;
    --color-background-dark: #1f2937;
;
}

.material-symbols-outlined.hidden {
    display: none !important;
}

.dark .material-symbols-outlined.dark\:hidden {
    display: none !important;
}

.dark .material-symbols-outlined.dark\:inline-block {
    display: inline-flex !important;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 500,
  'GRAD' 0,
  'opsz' 24
}
